@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #333;
  --text-color: #ccc;
  --accent-color: #00aa00;
}

.theme-dark {
  --bg-color: #333;
  --text-color: #ccc;
  --accent-color: #00aa00;
}

.theme-light {
  --bg-color: #fff;
  --text-color: #333;
  --accent-color: #d4b458;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--accent-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 {
  color: var(--accent-color);
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

p {
  margin: 20px 0;
}

nav {
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--accent-color);
  cursor: pointer;
}

#theme-toggle {
  margin-top: 10px;
  background: none;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 5px 10px;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
